.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #000;
  color: #E4E4E4;
}

.menu {
  display: flex;
}

.menu > li {
  margin-right: 30px;
  list-style: none;
}

.menu > li:hover {
  border-bottom: 2px solid; 
  border-color:#53CCD9;
}